[submodule "id3reader"]
	path = id3reader
	url = git@github.com:ShreyasJenner/id3reader.git
[submodule "sub-modules/audio-metadata-reader"]
	path = sub-modules/audio-metadata-reader
	url = git@github.com:ShreyasJenner/audio-metadata-reader.git
